* {
        font-family: 'Silkscreen';
}
body{
    background-image: url("https://i.pinimg.com/originals/46/ac/9e/46ac9e282d3c303934a72d941845785b.gif");
    background-size: cover;
    background-repeat:no-repeat;
}
.bigButton{
    border: 10px solid transparent;
    border-image: url("./border-image.png") 20/10 stretch;
    height: 100px;
    width: 300px;
    background: transparent;
    margin: 10px;
    color:white;
}
.bigButton:hover{
    border: 10px solid transparent;
    border-image: url("./border-image.png") 20/10 stretch;
    height: 120px;
    width: 310px;
    background: transparent;
    margin:0px;
}
.bigButton2{
    border: 10px solid transparent;
    border-image: url("./border-image.png") 20/10 stretch;
    height: 200px;
    width: 600px;
    background: transparent;
    margin: 10px;
    color:rgb(0, 0, 0);
}
.bigButton2:hover{
    border: 10px solid transparent;
    border-image: url("./border-image.png") 20/10 stretch;
    height: 220px;
    width: 620px;
    background: transparent;
    margin:0px;
}

.demo{
    width:400px;
    height:400px;
    font-size:5em;
    float:left;
    text-align:center;
  }
  
  .rainbow-bg{
          animation: rainbow-bg 2.5s linear;
          animation-iteration-count: infinite;
  }
  
  .rainbow{
          animation: rainbow 2.5s linear;
          animation-iteration-count: infinite;
  }
  
  @keyframes rainbow-bg{
          100%,0%{
              background-color: rgb(255,0,0);
          }
          8%{
              background-color: rgb(255,127,0);
          }
          16%{
              background-color: rgb(255,255,0);
          }
          25%{
              background-color: rgb(127,255,0);
          }
          33%{
              background-color: rgb(0,255,0);
          }
          41%{
              background-color: rgb(0,255,127);
          }
          50%{
              background-color: rgb(0,255,255);
          }
          58%{
              background-color: rgb(0,127,255);
          }
          66%{
              background-color: rgb(0,0,255);
          }
          75%{
              background-color: rgb(127,0,255);
          }
          83%{
              background-color: rgb(255,0,255);
          }
          91%{
              background-color: rgb(255,0,127);
          }
  }
  
  @keyframes rainbow{
          100%,0%{
              color: rgb(255,0,0);
          }
          8%{
              color: rgb(255,127,0);
          }
          16%{
              color: rgb(255,255,0);
          }
          25%{
              color: rgb(127,255,0);
          }
          33%{
              color: rgb(0,255,0);
          }
          41%{
              color: rgb(0,255,127);
          }
          50%{
              color: rgb(0,255,255);
          }
          58%{
              color: rgb(0,127,255);
          }
          66%{
              color: rgb(0,0,255);
          }
          75%{
              color: rgb(127,0,255);
          }
          83%{
              color: rgb(255,0,255);
          }
          91%{
              color: rgb(255,0,127);
          }
  }